.container__other-cards{
    display: flex;
    /* justify-content: center; */
    /* margin-left: 24%; */
    /* margin-left: -30px; */
    padding-left: -80px;
    margin-top: 30px;
    width: 310px;
}

.other-cards {
    display: flex;
    width: 200px;
}

.destaques__others-cards{
    align-items: center;
    background-color: #F5C400;
    margin: 10px;
    padding: 30px;
}

.other-cards img{
  
}

.other-cards button{
    background-color: #181824;
    border-radius: 10px;
    height: 60px;
    margin-left: calc(50% - 90px);
    margin-top: 20px;   
    padding: 3px;
    width: 180px;  
}

.other-cards button a{
    background-color: #181824;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;    
}