/* ------------------------------   OTHER-CARD  --------------------------------------------- */

.container__other-cards{
    margin-top: 4%;
}
.other-cards{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    display: inline;

}
.destaques__others-cards{
    align-items: center;
    background-color: #F5C400;
    display: flex;
    flex-direction: column;
}

.destaques__others-cards:nth-child(2){
    padding-left: 10px;
}

.destaques__others-cards img{
    padding: 5px;
    width: 240px;
}
.destaques__others-cards button{
    background-color: #151827;
    border: 2px solid #F5C400;
    border-radius: 8px;
    font-size: 20px;
    padding: 5px;
    width: 150px;
}
.destaques__others-cards button a{
    background-color: #151827;
    color: #FFFFFF;
    text-decoration: none;
}
.destaques__others-cards button a:hover{
    color: #52f507;
}