/* --------------------------------  MENU-BAR  ------------------------------------------- */
.container__menu-bar {
    align-items: center;
    background-color: #F5C400;
    justify-content: center;
    margin: 2% 0;
    padding: 2%;
    text-align: center;
    text-transform: uppercase;
    width: 900px;
}

.menus {
    align-items: center;
    background-color: #F5C400;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 2% 0;
    padding: 2%;
    text-transform: uppercase;

}

.menus li {
    padding-left: 4%;
}

.menus a {
    color: #FFFFFF;
    text-decoration: none;
}

.menus a:hover {
    padding: 3%;
    transition: 0.4s;
}