*{
    background-color: #F5C400;
    color: #fff;
}

.menu-bar{
    margin-left: 17%;
    margin-top: 4%;
    width: 1000px;

}

.menus { 
    display: flex;
    font-size: 40px;
    height: 110px;
}

.menus li{
    list-style-type: none;
    padding: 30px; 
    padding-left: 10%;  
    text-transform: uppercase;  
}

.menus a {
    font-family: 'Roboto Serif', serif; 
    text-decoration: none;
}

.menus a:hover {
    /* color: #22B14C; */
    border: 5px solid #fff;
    border-radius: 20px;
    font-weight: 900;
    font-size: 45px;
    padding: 10px;
    transition: 0.4s;
}